<body>
    <h2 style="color: #ff6c2c;">
        Challenge
    </h2>
    <label>Find the next departing train for a particular stop on the MBTA T network.</label> 


    <h2 style="color: #ff6c2c;">
        Story Form
    </h2>
    <label>an MBTA rider, I would like to know when the next train is going to depart from a specific
        stop so that I know when I should plan to get to the boarding area.</label> 
    
    <p>Write a program in a language of your choice (we prefer Python or Angular) that interacts with
        the MBTA public API ( https://api-v3.mbta.com ) to achieve the following acceptance criteria:</p>

    <ul >
        <li>Your program should prompt users to select from a list of routes that service only Light and Heavy Rail trains.</li>
        <li>Your program should display a listing of stops related to the selected route and prompt
            the user to select a stop.</li>
        <li>Your program should display a list of route directions and prompt the user to select a direction.</li>
        <li>Your program should display the next predicted departure time for a train based on thepreviously selected inputs.</li>
       
        
    </ul>
     
     
</body>
