.container {
    display: grid;
    grid-template-columns: 50% auto;
}
 
body {
  margin: 40px;
  background-color: #fff;
  color: #444;
  font: 1.4em Kameron, sans-serif;
}

h1 {
  font: 2.8em Sansita, sans-serif;
  margin: 0;
}

.grid {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
  margin-left: 50px;
}
.grid .list {
width: 600px;
height: auto;
}
.grid .view {
width: 560px;
height: auto;
}

.grid > * {
  padding: 20px;
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}
